$main-color: #ff3956;
$main-color-dark: darken($main-color, 20%);

$secondary-color: #23acde;
$secondary-color-dark: darken($secondary-color, 40%);

$grey-color: #878180;
$grey-color-dark: darken($grey-color, 20%);